.external{
    display: flex;
    justify-content: center;
}
.external p {
    border: 1px solid black;
    color: rgb(43, 29, 95);
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}